*{
    margin: 0px;
    padding: 0px;
    color: seashell;
}
body{ 
    background-color: rgb(44, 43, 43);

}
#searchbar{
    color:black;
    width: 60%;
    height: 5%;
    margin-left: 7%;
    margin-top: 3%;
    height: 36px;

    
}
#searchicon{
    margin-left: -1%;
    margin-bottom: -.76%;
}

.mainbody{
    margin-top: 10%;
    margin-left: 20%;
}
#logo{
    margin-top: 2%;
    width: 200px;
    margin-left: 2%;
    float: left;
}
#logo:hover{
    border: solid 2px seashell;
    
}



/* Shops */


#herbs:hover{
    opacity: .8;
}
#teletab:hover{
    opacity: .8;
}
#planks{
    margin-left: 30px;
}
#planks:hover{
    opacity: .8;
}
#seeds{
    margin-left: 30px;
}
#seeds:hover{
    opacity: .8;
}
footer{
    margin-bottom: 40%;
}
#pfp{
    border: solid 2px seashell;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-left: 4%;
    margin-bottom: -1.4%;
}
#pfp:hover{
    opacity: .8;
}

@media only screen and (max-width: 600px){
    #searchicon{
        
        margin-bottom: -2.3%;
    }
    #logo{
        margin-top: -19%;
        width: 200px;
        margin-left: 30%;
    }
    #searchbar{
        color:black;
        width: 60%;
        height: 5%;
        margin-left: 10%;
        margin-top: 12%;
        height: 36px;
    
        
    }
}

/* Google Pixel */
@media only screen and (max-width: 412px){
    #searchicon{
        
        margin-bottom: -4.2%;
        margin-left: -3.4%;
    }
    #logo{
        margin-top: -30%;
        width: 200px;
        margin-left: 20%;
    }
    #searchbar{
        color:black;
        width: 60%;
        height: 5%;
        margin-left: 12%;
        margin-top: 37%;
        height: 36px;
    
        
    }
    .mainbody{
        margin-top: 10%;
        margin-left: 12%;
    }
  
}

@media all and (min--moz-device-pixel-ratio:0) and (max-width: 412px){
    #searchicon{
        
        margin-bottom: -4.2%;
        margin-left: -3.4%;
    }
    #logo{
        margin-top: -30%;
        width: 200px;
        margin-left: 20%;
    }
    #searchbar{
        color:black;
        width: 60%;
        height: 5%;
        margin-left: 12%;
        margin-top: 37%;
        height: 36px;
    
        
    }
    .mainbody{
        margin-top: 10%;
        margin-left: 12%;
    }
  
}


@media only screen and (max-width: 360px){
    #searchicon{
        
        margin-bottom: -4%;
        margin-left: -3%;
    }
    #logo{
        margin-top: -30%;
        width: 200px;
        margin-left: 20%;
    }
    #searchbar{
        color:black;
        width: 60%;
        height: 5%;
        margin-left: 12%;
        margin-top: 20%;
        height: 36px;
    
        
    }
    .mainbody{
        margin-top: 10%;
        margin-left: 12%;
    }
}